.headings {
    padding: 3rem 2rem;
    text-align: center;
    font-size: clamp(.6rem, 1vw, 1rem);
    h1 {
        font-size: 3.75em;
        color: $clr-03;
        line-height: 1.1;
    }
    p {
        color: white;
        font-size: 1.25rem;
        margin-top: 0.563rem;
    }
}

.card-container {
    padding: 2rem; //in desktop   padding: 2rem 5rem; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); //in desktop 18rem
    gap: 4rem;
    .card {
        text-align: center;
        padding: 2rem;
        border-radius: 1rem;
        .card-icon {
            margin: 0 auto;
            $height-width: 5.875em;
            width: $height-width;
            height: $height-width;
            background: $clr-03;
            border-radius: 50%;
            display: grid;
            place-items: center;
            margin-top: -4rem;
        }
        background: white;
        h5 {
            font-size: 1.25rem;
            color: $clr-01;
            margin-top: 2.188rem;
        }
        p {
            margin-top: 1.25rem;
            color: $clr-04;
        }
        .card-btn {
            margin-top: .7rem;
            padding: 0.625rem 1.875rem;
            border-radius: 2rem;
        }
    }
}

@media (min-width:40em) {
    .card-container {
        padding: 2rem 3rem;
        padding-bottom: 4rem;
    }
}

@media (min-width:75em) {
    .card-container {
        padding: 2rem 11rem;
        padding-bottom: 4rem;
    }
}